<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">生产计划导入</h1>
</div>

<div class="wrapper" ng-controller="AnalysisManageController">
	<div class="row">
		<div class="col col-md-12">
        <form name="form" class="form-validation">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">计划导入</div>
            <div class="panel-body">
              <form role="form" class="ng-pristine ng-valid">
                <div class="col-sm-6 form-group">
                  <label>导入文件</label>
                  <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                </div>
                <div class="col-sm-3 form-group">
                  <label>&nbsp</label>
                  <div class="block">
                    <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="add(row)"><i class="fa fa-arrow-circle-o-up"></i> 导 入</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </form>
		</div>
	</div>
</div>
  