<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">产品检验标准数据维护</h1>
</div>

<div class="wrapper" ng-controller="teststandardBasedataController">
  <div class="row">
    <div class="col col-md-12">
        <form role="form" class="ng-pristine ng-valid">
          <div class="panel panel-default">
            <div class="panel-body" style="padding:10px; padding-left:0px;">
              <div class="col-sm-3 form-group">
                <label>产品名称</label>
                <select ui-jq="chosen" class="w-md s-w100" ng-model="searcher.machine">
                  <option ng-repeat="m in testData" value="{{m.productName}}">{{m.productName}}</option>
                </select>
              </div>
              <div class="col-sm-3 form-group">
                <label>&nbsp</label>
                <div class="block">
                  <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="search(searcher.productName)"><i class="fa fa-search"></i> 查   询</button>
                  <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="add(row)"><i class="fa fa-plus"></i> 新   增</button>
                </div>
              </div>
            </div>
          </div>
          
        </form>
    </div>
  </div>

	<div class="row">
        <div class="col col-md-12">
            <table ng-table="myTable" class="table table-condensed table-bordered table-striped table-alink table-admin table-td5-color">
                <tr ng-repeat="row in $data | filter:searcher.productName">
                    <td data-title="'标准编号'" sortable="'standardNo'">{{row.standardNo}}</td>
                    <td data-title="'产品名称'" sortable="'productName'">{{row.productName}}</td>
                    <td data-title="'所供客户'" sortable="'customers'">{{row.customers}}</td>
                    <td data-title="'材质'" sortable="'material'">{{row.material}}</td>
                    <td data-title="'操作'" style="width: 12%">
                        <a href="" class="active" ng-click="modify(row)">编辑</a>
                        <a href="" class="active text-danger" ng-click="delete()">删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
  