<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
</div>

<div class="modal-body">
    <form name="form" class="form-validation">
      <div class="panel panel-default panel-b0 ">
        <div class="panel-body">
            <div class="form-group pull-in clearfix">
              <!-- <div class="col-sm-6 col-b10">
                <label>日期：</label>
                <div class="" ng-controller="DatepickerDemoCtrl">
                  <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="searcher.date" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>         
              </div>
              <div class="col-sm-6 col-b10">
                <label>机台：</label>
                <select ui-jq="chosen" class="s-w100" ng-model="row.machine">
                  <option ng-repeat="m in testData" value="{{m.machine}}">{{m.machine}}</option>
                </select>           
              </div>
              <div class="col-sm-6 col-b10">
                <label>机型：</label>

                <select ui-jq="chosen" class="s-w100" ng-model="row.types">
                  <option ng-repeat="s in testData" value="{{s.types}}">{{s.types}}</option>
                </select>
              </div>
              <div class="col-sm-6 col-b10">
                <label>产品名称：</label>
                <select ui-jq="chosen" class="s-w100" ng-model="row.productName">
                  <option ng-repeat="m in testData" value="{{m.productName}}">{{m.productName}}</option>
                </select>
              </div>
              <div class="col-sm-6 col-b10">
                <label>任务单号：</label>
                <select ui-jq="chosen" class="s-w100" ng-model="row.taskNo">
                  <option ng-repeat="m in testData" value="{{m.taskNo}}">{{m.taskNo}}</option>
                </select>
              </div>
              <div class="col-sm-6 col-b10">
                <label>任务单数量：</label>
                <input type="text" class="form-control" ng-model="row.taskNumber">
              </div>
              <div class="col-sm-6 col-b10">
                <label>换模：</label>
                <select ui-jq="chosen" class="w-md s-w100" ng-model="row.changeover">
                  <option value="是">是</option>
                  <option value="否">否</option>
                </select>
              </div>
              <div class="col-sm-6 col-b10">
                <label>材质：</label>
                <input type="text" class="form-control" ng-model="row.material">
              </div>
              <div class="col-sm-6 col-b10">
                <label>本日计划量：</label>
                <input type="text" class="form-control" ng-model="row.InvName">
              </div>
              <div class="col-sm-12">
                <label class="form-title">损耗时间/小时：</label>
              </div>
              <div class="col-sm-6 col-b10">
                <label>换模：</label>
                <input type="text" class="form-control" ng-model="row.changeover">
              </div>
              <div class="col-sm-6 col-b10">
                <label>设备维修：</label>
                <input type="text" class="form-control" ng-model="row.repair">
              </div>
              <div class="col-sm-6 col-b10">
                <label>待料：</label>
                <input type="text" class="form-control" ng-model="row.pending">
              </div> -->
              <div class="col-sm-6 col-b10">
                <label>标题：</label>
                <input type="text" class="form-control" ng-model="details.title">
              </div>
              <div class="col-sm-6 col-b10">
                  <label>知识库分类：</label>
                  <select ui-jq="chosen" class="w-md s-w100" ng-model="details.knowledgeCategory.id" ng-options="kcategory.id as kcategory.title for kcategory in kcategory.list" >
                  </select>
              </div>
              <div class="col-sm-6 col-b10">
                <label>内容：</label>
                <input type="text" class="form-control" ng-model="details.content">
              </div>
              <div class="col-sm-12 col-b10">
                <label>所属人：</label>
                <input type="text" class="form-control" ng-model="details.createdBy">
              </div>
            </div>
        </div>
      </div>
    </form>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="method.cancel()">取 消</button>
    <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="method.submit()">确 定</button>
</div>





