<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">生产计划维护</h1>
</div>

<div class="wrapper" ng-controller="productAdminController">
  <div class="row">
    <div class="col col-md-12">
        <form role="form" class="ng-pristine ng-valid">
          <div class="panel panel-default">
            <div class="panel-body" style="padding:10px; padding-left:0px;">
              <!-- <div class="col-sm-3 form-group">
                <label>机台</label>
                <select ui-jq="chosen" class="s-w100" ng-model="search.machine">
                  <option ng-repeat="m in testData" value="{{m.id}}">{{m.machine}}</option>
                </select>
                <ui-select ng-model="data.machine"
                      class="btn-group bootstrap-select form-control"
                      ng-disabled="false"
                      append-to-body="true"
                      search-enabled="false">
                      <ui-select-match placeholder="请选机台">
                      <span> {{$select.selected.machine}}</span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in (testData | filter: $select.search) track by item.id">
                      <span ng-bind-html="item.machine"></span>
                      </ui-select-choices>
                  </ui-select>
              </div> -->
              <!-- <div class="col-sm-3 form-group">
                <label>机型</label>
                <select ui-jq="chosen" class="s-w100" ng-options="m.types for m in testData" ng-model="search.types">
                </select>
              </div> -->
              <!-- <div class="col-sm-3 form-group">
                <label>机型</label>
                <select ui-jq="chosen" class="s-w100" ng-model="search.types">
                  <option ng-repeat="m in testData" value="{{m.types}}">{{m.types}}</option>
                </select>
              </div> -->
              <!-- <div class="col-sm-3 form-group">
                <label>产品名称</label>
                <select ui-jq="chosen" class="s-w100" ng-model="search.productName">
                  <option ng-repeat="m in testData" value="{{m.productName}}">{{m.productName}}</option>
                </select>
              </div>
              <div class="col-sm-3 form-group">
                <label>任务单号</label>
                <select ui-jq="chosen" class="s-w100"  ng-model="search.taskNo">
                  <option ng-repeat="m in testData" value="{{m.taskNo}}">{{m.taskNo}}</option>
                </select>
              </div> -->
              <div class="col-sm-3 form-group">
                <label>标题</label>
                <input type="text" class="form-control" placeholder="输入搜索内容..."
                    ng-model="data.title" />
              </div>
              <div class="col-sm-3 form-group">
                <label>计划日期起</label>
                <div class="">
                  <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="data.startDate" is-open="opened1" datepicker-options="dateOptions" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 form-group">
                <label>计划日期止</label>
                <div class="">
                  <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="data.endDate" is-open="opened2" datepicker-options="dateOptions" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-3 form-group">
                <label>材质</label>
                <select ui-jq="chosen" class="s-w100"  ng-model="search.material">
                  <option ng-repeat="m in testData" value="{{m.material}}">{{m.material}}</option>
                </select>
              </div> -->
              <div class="col-sm-3 form-group">
                <label>&nbsp</label>
                <div class="block">
                  <button class="btn btn-primary" ng-click="method.search()"><i class="fa fa-search"></i> 查   询</button>
                  <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="method.add(row)"><i class="fa fa-plus"></i> 新   增</button>
                </div>
              </div>
            </div>
          </div>
          
        </form>
    </div>
  </div>

	<div class="row">
        <div class="col col-md-12">
            <table ng-table="myTable" class="table table-condensed table-bordered table-striped table-alink table-admin table-td5-color">
                <tr ng-repeat="row in $data">
                    <td data-title="'标题'" sortable="'title'">{{row.title}}</td>
                    <td data-title="'描述'" sortable="'content'">{{row.subTitle}}</td>
                    <td data-title="'创建时间'" sortable="'createdTime'">{{row.createdTime | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td data-title="'修改时间'" sortable="'modifiedTime'">{{row.modifiedTime | date:'yyyy-MM-dd HH:mm'}}</td>
                    <!-- <td data-title="'任务单数量'" sortable="'taskNumber'">{{row.taskNumber}}</td>
                    <td data-title="'机台'" sortable="'machine'">{{row.machine}}</td>
                    <td data-title="'机型'" sortable="'types'">{{row.types}}</td>
                    <td data-title="'产品名称'" sortable="'productName'">{{row.productName}}</td>
                    <td data-title="'任务单号'" sortable="'taskNo'">{{row.taskNo}}</td>
                    <td data-title="'任务单数量'" sortable="'taskNumber'">{{row.taskNumber}}</td>
                    <td data-title="'损耗时间/小时'" sortable="'waste'">{{row.waste}}</td>
                    <td data-title="'材质'" sortable="'material'">{{row.material}}</td>
                    <td data-title="'日期'" sortable="'date'">{{row.date}}</td>
                    <td data-title="'本日计划量'" sortable="'InvName'">{{row.InvName}}</td>
                    <td data-title="'计划换模'">{{row.changeover}}</td>
                    <td data-title="'产品图纸'"><img src="{{row.drawing}}"/></td>
                    <td data-title="'产品检验标准'"><img src="{{row.standard}}"/></td> -->
                    <td data-title="'操作'" style="width: 12%">
                        <a href="" class="active" ng-click="method.modify(row)">编辑</a>
                        <a href="" class="active text-danger" ng-click="method.deleted(row.id)">删除</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
  