<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4 crumbs-list"><span ui-sref="app.s6.realtime-list-mgmt">生产实时状态</span> > 生产问题分析</h1>
</div>

<div class="wrapper" ng-controller="productAdminController">
  <div class="row">
    <div class="col col-md-6">
        <div class="panel panel-default panel-dark">
            <div class="panel-heading panel-unhead">
              任务                    
            </div>
            <div class="panel-body">
              <div class="chartlg" id="questioncharts1"></div>
            </div>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="panel panel-default panel-dark">
            <div class="panel-heading panel-unhead">
              时间                    
            </div>
            <div class="panel-body">
              <div class="chartlg" id="questioncharts2"></div>
            </div>
        </div>
    </div>
    <div class="col col-md-12">
        <div class="panel panel-default panel-dark">
            <div class="panel-heading panel-unhead">
              问题                   
            </div>
            <div class="panel-body">
              <div class="chartlg" id="questioncharts3"></div>
            </div>
        </div>
    </div>
  </div>
</div>
  