<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">烘房包装数据管理</h1>
</div>

<div class="wrapper" ng-controller="packageInfoController">
  <form role="form" class="ng-pristine ng-valid">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2 form-group">
            <label>产品名称</label>
            <ui-select ng-model="data.proName" theme="bootstrap" name="proName"> 
                <ui-select-match placeholder="选择机型ID">{{$select.selected.proName}}</ui-select-match>
                <ui-select-choices  repeat="item in prodName.list | filter: $select.search">
                  <div ng-bind-html="item.proName | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-sm-2 form-group">
            <label>日期</label>
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" placeholder="输入计划日期起"  ng-model="data.startDate" is-open="opened1" datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label>&nbsp</label>
            <div class="block">
              <button class="btn btn-primary" ng-click="method.search()"><i class="fa fa-search"></i> 查   询</button>
              <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="method.add(row)"><i class="fa fa-plus"></i> 新   增</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

	<div class="row">
        <div class="col col-md-12">
          <div class="table-responsive">
            <table ng-table="myTable" class="table table-condensed table-bordered table-striped table-alink table-admin">
                <tr ng-repeat="row in $data">
                    <td data-title="'产品名称'" sortable="'prodName'">{{row.prodName}}</td>
                    <td data-title="'任务单号'" sortable="'taskId'">{{row.taskId}}</td>
                    <td data-title="'理论包装数量'" sortable="'packageCalcValue'">{{row.packageCalcValue}}</td>
                    <td data-title="'包装数量'" sortable="'packageCount'">{{row.packageCount}}</td>
                    <td data-title="'包装报废率'" sortable="'packageScrapRate'">{{row.packageScrapRate}}</td>
                    <td data-title="'日期'" sortable="'updateTime'">{{row.updateTime | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td data-title="'包装作业指导书'" sortable="'packageGuideFile'">{{row.packageGuideFile}}</td>
                    <td data-title="'操作'" style="width: 12%">
                        <a href="" class="active" ng-click="method.enter(row)">包装录入</a>
                        <a href="" class="active" ng-click="method.modify(row)">编辑</a>
                        <a href="" class="active text-danger" ng-click="method.deleted(row.id)">删除</a>
                    </td>
                </tr>
            </table>
          </div>
        </div>
    </div>
</div>
  