
<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">生产车间管理</h1>
</div>

<div class="wrapper" ng-controller="realtimeListController">
  <div class="row">
    <div class="col col-md-3">
      <div class="workshop-module btn-info" ui-sref="app.s8.realtime-mgmt">
        <i class="fa fa-desktop"></i>
        <span>管理大屏</span>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="workshop-module btn-info" ui-sref="app.s8.realtime-data-mgmt">
        <i class="fa fa-file-text"></i>
        <span>生产车间实时数据</span>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="workshop-module btn-info" ui-sref="app.s8.realtime-monthly-mgmt">
        <i class="fa fa-cogs"></i>
        <span>生产月度数据分析</span>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="workshop-module btn-info" ui-sref="app.s8.realtime-allocation-mgmt">
        <i class="fa fa-file-text"></i>
        <span>任务分配情况分析</span>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="workshop-module btn-info" ui-sref="app.s8.realtime-analyse-mgmt">
        <i class="fa fa-recycle"></i>
        <span>生产时间分析</span>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="workshop-module btn-info" ui-sref="app.s8.realtime-question-mgmt">
        <i class="fa fa-warning"></i>
        <span>生产问题分析</span>
      </div>
    </div>
  </div>
</div>
  