<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">机型基础数据维护</h1>
</div>

<div class="wrapper" ng-controller="machineTypeController">
  <form role="form" class="ng-pristine ng-valid">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 form-group">
            <label>机型ID</label>
            <ui-select ng-model="data.search" theme="bootstrap" name="type_id"  required/> 
                <ui-select-match placeholder="选择产品名称">{{$select.selected.type_id}}</ui-select-match>
                <ui-select-choices  repeat="item in typeId.list | filter: $select.search">
                  <div ng-bind-html="item.type_id | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-sm-3 form-group">
            <label>&nbsp</label>
            <div class="block">
              <button class="btn btn-primary"><i class="fa fa-search"></i> 查   询</button>
              <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="method.add(row)"><i class="fa fa-plus"></i> 新   增</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

	<div class="row">
        <div class="col col-md-12">
          <div class="table-responsive">
            <table ng-table="myTable" class="table table-condensed table-bordered table-striped table-alink table-admin table-td5-color">
                <tr ng-repeat="row in $data">
                    <td data-title="'机型ID'" sortable="'typeId'">{{row.typeId}}</td>
                    <td data-title="'机型名称'" sortable="'typeName'">{{row.typeName}}</td>
                    <td data-title="'备注'">{{row.memo}}</td>
                    <td data-title="'更新时间'" sortable="'updateTime'">{{row.updateTime | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td data-title="'操作'" style="width: 12%">
                        <a href="" class="active" ng-click="method.modify(row)">编辑</a>
                        <a href="" class="active text-danger" ng-click="method.deleted(row.id)">删除</a>
                    </td>
                </tr>
            </table>
          </div>
        </div>
    </div>
</div>
  