<div class="modal-header">
    <button type="button" class="close" ng-click="method.cancel()"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">{{title}}</h5>
</div>
<!-- <form  name="formValidate" class="form-horizontal form-validation" ng-submit="method.submit()"> -->
<form name="form" class="form-validation">
  <div class="modal-body">
      <div class="panel panel-default panel-b0 ">
        <div class="panel-body">
          <div class="form-group pull-in clearfix">
            <div class="col-sm-12 col-b10">
              <label>机型ID：</label>
              <select class="s-w100 form-control m-t" ng-model="details.typeId" ng-options="prod.typeId as prod.typeId for prod in machineType.list" required>
              </select>
            </div>
            <div class="col-sm-12 col-b10">
              <label>产品名称：</label>
              {{details.prodName}}
              <!-- <ui-select ng-model="details.prodName" theme="bootstrap" name="prodName" required/>
                  <ui-select-match placeholder="选择产品">{{$select.selected.prodName}}</ui-select-match>
                  <ui-select-choices repeat="item in prodName.list | filter: $select.search">
                  <div ng-bind-html="item.prodName | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select> -->
              <select class="s-w100 form-control m-t" ng-model="details.typeName" ng-options="prod.typeName as prod.typeName for prod in machineType.list" required>
              </select>
            </div>
            <div class="col-sm-12 col-b10">
              <label>备注：</label>
              <textarea class="form-control" rows="6" ng-model="details.memo" placeholder="请输入信息" required></textarea>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer">                  
      <button class="btn btn-default" ng-click="method.cancel()">取 消</button>
      <button class="btn btn-success" type="submit" ng-disabled="form.$invalid" ng-click="method.submit()">确 定</button>
  </div>
</form>





