<div class="container w-xxl w-auto-xs" ng-controller="loginController">
  <!-- <a href class="navbar-brand block m-t">终端数据平台</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>请输入您的用户名和密码：</strong>
    </div>
    <form name="form" class="form-validation">
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="text" placeholder="用户名" class="form-control no-border" id="user" ng-model="vm.username">
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="密码" class="form-control no-border" ng-model="vm.password">
        </div>
      </div>
      <a type="submit" class="btn btn-lg btn-primary btn-block" ui-sref="app.s5.storehouse-screen-mgmt">登录</a>
      <div class="line line-dashed"></div>
    </form>
  </div> -->
  <style>
    
    body {
        background: url(views/img/login_bg.jpg) center center no-repeat #fafafa;
        /* background-size: 70% auto; */
        background-size: cover;
        position: relative;
    }
    .auth-flex {
        display: -webkit-flex;
        /* Safari */
        display: flex;
        justify-content: center;
        position: relative;
        /* top: -14%; */
        z-index: 999;
    }
    .login-block {
        background: rgba(255, 255, 255, .2);
        /* width: 350px; */
        min-width: 440px;
        padding: 40px 30px 30px 30px;
        border-radius: 2px;
    }
    
    .login-block h2 {
        color: #fff;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: normal;
        font-family: 'Wblack';
    }
    
    .login-block h2 b {
        float: left;
        width: 50px;
        height: auto;
        margin-right: 10px;
    }
    
    .login-block h2 b i{
        font-size: 5rem;
    }
    
    .login-block h2 span {
        height: 35px;
        padding-top: 10px;
        font-size: 3.2rem;
    }
    
    .btn {
        display: block;
        padding: 10px;
        width: 100%;
        border-radius: 2px;
    }
    
    input:-webkit-autofill {
        background-image: none;
        -webkit-box-shadow: 0 0 0px 1000px #fafafa inset;
    }
    
    input:-internal-autofill-selected {
        background: none;
    }
    
    .login—form .form-group {
        color: #fff;
        margin-bottom: 30px;
    }
    
    .form-group .form-label {
        margin-bottom: 14px;
        font-size: 15px;
    }
    
    .form-group .form-control {
        /* padding: 8px; */
        border-radius: 2px;
        height: 44px;
        color: #333;
        background: #fff;
        font-size: 16px;
    }
    
    .form-group button.btn.btn-primary {
        font-size: 16px!important;
        padding: 12px;
        margin-top: 60px;
    }
    
    .copyright {
        text-align: center;
        color: #f5f5f5;
        font-size: 13px;
        margin-top: 45px;
    }
</style>
<main class="auth-main auth-flex">
    <div class="login-block">
        <h2>
            <b><i class="fa iconfont icon-terminal"></i></b>
            <span>终端数据管理</span>
        </h2>
        <form>
            <div class="login—form">
                <div class="form-group">
                    <div class="form-label">用户名</div>
                    <input type="text" class="form-control" id="inputName" placeholder="用户名" ng-model="data.username">
                </div>
                <div class="form-group">
                    <div class="form-label">密码</div>
                    <input type="password" class="form-control" id="inputPassword" placeholder="密码" ng-model="data.password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info" ng-click="method.login()">登 录</button>
                </div>
            </div>
        </form>

        <div class="copyright">© 2006 - 2019 版权所有</div>
    </div>
</main>
</div>