
<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">生产车间管理</h1>
</div>

<div class="wrapper" ng-controller="productAdminController">
  <div class="row">
    <div class="col col-md-3">
      <div class="workshop-module btn-info" ui-sref="app.s7.workshopbigscreen-mgmt">
        <i class="fa fa-desktop"></i>
        <span>生产大屏</span>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="workshop-module btn-info">
        <i class="fa fa-file-text"></i>
        <span>生产报告</span>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="workshop-module btn-info">
        <i class="fa fa-cogs"></i>
        <span>生产管理</span>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="workshop-module btn-info">
        <i class="fa fa-file-text"></i>
        <span>物料管理</span>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="workshop-module btn-info">
        <i class="fa fa-recycle"></i>
        <span>成型模数管理</span>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="workshop-module btn-info">
        <i class="fa fa-warning"></i>
        <span>故障管理</span>
      </div>
    </div>
  </div>
</div>
  