<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">生产计划安排</h1>
</div>

<div class="wrapper" ng-controller="productionPlanController">
  <form role="form" class="ng-pristine ng-valid">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
        <div class="col-sm-3 form-group">
          <label>机台号</label>
            <ui-select ng-model="data.plat_id" theme="bootstrap" name="plat_id"  required/> 
                <ui-select-match placeholder="选择机台">{{$select.selected.plat_id}}</ui-select-match>
                <ui-select-choices  repeat="item in kcategory.list | filter: $select.search">
                  <div ng-bind-html="item.plat_id | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <!-- <div class="col-sm-3 form-group">
          <label>机型</label>
          <ui-select ng-model="data.typeId" theme="bootstrap" name="typeId"  required/> 
              <ui-select-match placeholder="选择机型">{{$select.selected.typeId}}</ui-select-match>
              <ui-select-choices  repeat="item in kcategory.list | filter: $select.search">
                <div ng-bind-html="item.typeId | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-sm-3 form-group">
          <label>产品名称</label>
          <ui-select ng-model="data.prod_uuid" theme="bootstrap" name="prod_uuid"  required/> 
              <ui-select-match placeholder="选择产品名称">{{$select.selected.prod_uuid}}</ui-select-match>
              <ui-select-choices  repeat="item in kcategory.list | filter: $select.search">
                <div ng-bind-html="item.prod_uuid | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-sm-3 form-group">
          <label>任务单号</label>
          <ui-select ng-model="data.taskUuid" theme="bootstrap" name="taskUuid"  required/> 
              <ui-select-match placeholder="选择任务单号">{{$select.selected.taskUuid}}</ui-select-match>
              <ui-select-choices  repeat="item in kcategory.list | filter: $select.search">
                <div ng-bind-html="item.taskUuid | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </div> -->
        <div class="col-sm-3 form-group">
          <label>日期</label>
          <div class="">
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" placeholder="输入计划日期起"  ng-model="data.startDate" is-open="opened1" datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-3 form-group">
          <label>计划日期止</label>
          <div class="">
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" placeholder="输入计划日期止" ng-model="data.endDate" is-open="opened2" datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 form-group">
          <label>材质</label>
          <ui-select ng-model="data.material_uuid" theme="bootstrap" name="material_uuid"  required/> 
              <ui-select-match placeholder="选择材料">{{$select.selected.material_uuid}}</ui-select-match>
              <ui-select-choices  repeat="item in kcategory.list | filter: $select.search">
                <div ng-bind-html="item.material_uuid | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </div> -->
        <div class="col-sm-3 form-group">
          <label>&nbsp</label>
          <div class="block">
            <button class="btn btn-primary" ng-click="method.search()"><i class="fa fa-search"></i> 查   询</button>
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="method.add(row)"><i class="fa fa-plus"></i> 新   增</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </form>

	<div class="row">
        <div class="col col-md-12">
          <div class="table-responsive">
            <table ng-table="myTable" class="table table-condensed table-bordered table-striped table-alink table-admin table-td5-color">
                <tr ng-repeat="row in $data">
                    <td data-title="'机台号'" sortable="'platId'">{{row.platId}}</td>
                    <td data-title="'日期'" sortable="'updateTime'">{{row.updatetime}}</td>
                    <td data-title="'任务单号'" sortable="'taskId'">{{row.taskId}}</td>
                    <!-- <td data-title="'机型'" sortable="'typeId'">{{row.typeId}}</td> -->
                    <td data-title="'任务单数量'" sortable="'taskNumber'">{{row.taskNumber}}</td>
                    <td data-title="'产品名称'" sortable="'prodId'">{{row.prodId}}</td>
                    <td data-title="'材质'" sortable="'materialId'">{{row.materialId}}</td>
                    <td data-title="'当日计划量'" sortable="'countToday'">{{row.countToday}}</td>
                    <!-- <td data-title="'损耗时间/小时'" sortable="'countLossTime'">{{row.countLossTime}}</td> -->
                    <td data-title="'计划换模'">
                        <span class="label label-success" ng-if="row.changeFlg==1">是</span>
                        <span class="label label-warning" ng-if="row.changeFlg==0">否</span>
                    </td>
                    <!-- <td data-title="'产品图纸'"><img src="{{row.drawing}}"/></td>
                    <td data-title="'产品检验标准'"><img src="{{row.standard}}"/></td> -->
                    <td data-title="'操作'" style="width: 12%">
                        <a href="" class="active" ng-click="method.modify(row)">编辑</a>
                        <a href="" class="active text-danger" ng-click="method.deleted(row.id)">删除</a>
                    </td>
                </tr>
            </table>
          </div>
        </div>
    </div>
</div>
  