<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">包装数据录入</h1>
</div>

<div class="wrapper" ng-controller="packagingEntryController">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            包装工人录入包装数量
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="formValidate" ng-submit="method.submit()">
                <div class="form-group">
                    <label class="col-sm-2 control-label">日期</label>
                    <div class="col-sm-10 ng-scope" ng-controller="DatepickerDemoCtrl">
                        <div class="input-group w-md">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-required ng-valid-date" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" required="required"  required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">任务单号</label>
                    <div class="col-sm-6 ng-scope">
                      <ui-select ng-model="data.taskId" theme="bootstrap" name="taskId" required/> 
                          <ui-select-match placeholder="选择产品">{{$select.selected.taskId}}</ui-select-match>
                          <ui-select-choices  repeat="item in proName.list | filter: $select.search">
                            <div ng-bind-html="item.taskId | highlight: $select.search"></div>
                          </ui-select-choices>
                      </ui-select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">产品</label>
                    <div class="col-sm-6 ng-scope">
                      <ui-select ng-model="data.proName" theme="bootstrap" name="proName" required/> 
                          <ui-select-match placeholder="选择产品">{{$select.selected.proName}}</ui-select-match>
                          <ui-select-choices  repeat="item in proName.list | filter: $select.search">
                            <div ng-bind-html="item.proName | highlight: $select.search"></div>
                          </ui-select-choices>
                      </ui-select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">理论包装数量</label>
                    <div class="col-sm-6 ng-scope">
                      <input type="number" class="form-control" ng-model="data.packageCalcValue" placeholder="请输入理论包装数量" required >
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">任务单数量</label>
                    <div class="col-sm-6 ng-scope">
                      <input type="number" class="form-control" ng-model="data.taskCount" placeholder="请输入任务单数量" required >
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">已包装数量</label>
                    <div class="col-sm-6 ng-scope">
                      <input type="number" class="form-control" ng-model="data.packagCount" placeholder="请输入已包装数量" required >
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">本次包装数量</label>
                    <div class="col-sm-6 ng-scope">
                      <input type="number" class="form-control" ng-model="data.packagCount" placeholder="请输入本次包装数量" required >
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否全部完成</label>
                    <div class="col-sm-6 ng-scope">
                        <select ui-jq="chosen" ng-model="data.changeFlg" class="w-md s-w100" ng-model="row.change_flg">
                          <option value="是">是</option>
                          <option value="否">否</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" ng-disabled="formValidate.$invalid" class="btn btn-primary">录入</button>
                        <button type="submit" class="btn btn-default">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
  