<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h3">角色管理</h1>
</div>

<div class="wrapper" ng-controller="RoleController">
	<div class="row">
		<div class="col col-md-12">
        <form name="form" class="form-validation">
          <div class="panel panel-default">
            <div class="panel-body bg-light" style="padding:5px;padding-left:0px;">
              	<div class="col-md-2">
	               <label>角色名：</label> 
	               <input type="text" class="form-control"  ng-model="roleName" >
	             </div>
	             <div class="col-md-1">
	               <label>&nbsp;　&nbsp;</label> 
                  <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="search()"><i class="fa fa-search"></i> 查 询</button>
                 </div>
                    <div class="col-md-1  pull-right">
	               <label>&nbsp;　&nbsp;</label> 
                   <button has-permission="ROLE_CREATE" class="btn btn-success" ng-disabled="form.$invalid" ng-click="addRole()"><i class="fa fa-plus"></i> 新  建</button> 
                 </div>
            </div>
          </div>
        </form>
		</div>
	</div>

	<div class="row">
	  <div class="col col-md-12">
      <!-- <div class="panel panel-default"> -->

	  <table  class="bg-white table table-striped left-table-header" ng-table=tableParamsRoleList show-filter="false">
          <thead ng-if="$data.length>0" class="bg-info">
            <tr>
			  <th width="60px">序号</th>
			  <th width="50px">角色代码</th>
			  <th width="150px">角色名称</th>
			  <th>拥有权限</th>
			  <th has-permission="ROLE_EDIT" width="150px">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="role in $data">
			  <td>{{$index + 1}}</td>
			  <td>{{role.rolecode}}</td>
			  <td>{{role.rolename}}</td>
              <td><span ng-repeat="per in role.permissions">{{per.name}}&nbsp;&nbsp;</span></td>
			  <td has-permission="ROLE_EDIT">
			    <a style="color:#0099FF" ng-click="editRole({{role}})">修改&nbsp;</a>
			    <a style="color:#0099FF" ng-click="configRole({{role.id}})">配置权限&nbsp;</a>
			  </td>

            </tr>
          </tbody>
        </table>
      <!-- </div> -->
    </div>


</div>
