<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">机台基础数据维护</h1>
</div>

<div class="wrapper" ng-controller="machinePlatformController">
  <form role="form" class="ng-pristine ng-valid">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2 form-group">
            <label>机台ID</label>
            <input type="text" class="form-control" placeholder="输入机台ID"  ng-model="data.platId">
          </div>
          <div class="col-sm-2 form-group">
            <label>机台信息名</label>
            <input type="text" class="form-control" placeholder="输入机台信息名"  ng-model="data.platDisp">
          </div>
          <div class="col-sm-2 form-group">
            <label>机台号</label>
            <input type="text" class="form-control" placeholder="输入机台号"  ng-model="data.platNo">
          </div>
          <div class="col-sm-2 form-group">
            <label>机型ID</label>
            <ui-select ng-model="data.search" theme="bootstrap" name="typeId"  required/> 
                <ui-select-match placeholder="选择机型ID">{{$select.selected.typeId}}</ui-select-match>
                <ui-select-choices  repeat="item in machineType.list | filter: $select.search">
                  <div ng-bind-html="item.typeId | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-sm-4 form-group">
            <label>&nbsp</label>
            <div class="block">
              <button class="btn btn-primary"><i class="fa fa-search"></i> 查   询</button>
              <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="method.add(row)"><i class="fa fa-plus"></i> 新   增</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

	<div class="row">
        <div class="col col-md-12">
          <div class="table-responsive">
            <table ng-table="myTable" class="table table-condensed table-bordered table-striped table-alink table-admin">
                <tr ng-repeat="row in $data">
                    <td data-title="'机台ID'" sortable="'platId'">{{row.platId}}</td>
                    <td data-title="'机台信息名称'" sortable="'platDisp'">{{row.platDisp}}</td>
                    <td data-title="'机台号'" sortable="'platNo'">{{row.platNo}}</td>
                    <td data-title="'机型ID'" sortable="'typeId'">{{row.typeId}}</td>
                    <td data-title="'备注'">{{row.memo}}</td>
                    <td data-title="'更新时间'" sortable="'updateTime'">{{row.updateTime | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td data-title="'操作'" style="width: 12%">
                        <a href="" class="active" ng-click="method.modify(row)">编辑</a>
                        <a href="" class="active text-danger" ng-click="method.deleted(row.id)">删除</a>
                    </td>
                </tr>
            </table>
          </div>
        </div>
    </div>
</div>
  