<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>

<div class="modal-body ">
        <form name="form" class="form-validation">
          <div class="panel panel-default">
            <!-- <div class="panel-heading">
              <span class="h4">{{title}}</span>
            </div> -->
            <div class="panel-body">
              <div class="form-group pull-in clearfix">
              
                      <div class="col-sm-12">
                        <label>燃料码头：</label>
                        <input type="text" class="form-control" ng-model="bank.bankAddress" required >              
                      </div>
                      <div class="col-sm-6">
                        <label>烧结：</label>
                        <input type="text" class="form-control" ng-model="bank.contactPhone" required value="ES://HOST1:9200">
                      </div>
                      <div class="col-sm-6">
                        <label>高炉：</label>
                        <input type="text" class="form-control" ng-model="bank.contactPhone" required value="ES://HOST1:9200">
                      </div>
                      <div class="col-sm-6">
                        <label>炼钢：</label>
                        <input type="text" class="form-control" ng-model="bank.contactPhone" required value="ES://HOST1:9200">
                      </div>
                      <div class="col-sm-6">
                        <label>轧钢：</label>
                        <input type="text" class="form-control" ng-model="bank.contactPhone" required value="ES://HOST1:9200">
                      </div>

              </div>
            </div>
          </div>
        </form>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">取 消</button>
    <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">确 定</button>
</div>





