<div class="modal-header">
    <h5 class="modal-title">机型基础数据变更</h5>
</div>

<div class="modal-body">
    <form name="form" class="form-validation">
      <div class="panel panel-default panel-b0 ">
        <div class="panel-body">
            <div class="form-group pull-in clearfix">
              <div class="col-sm-6 col-b10">
                <label>机台</label>
                <select ui-jq="chosen" class="w-md s-w100" ng-model="row.machine">
                  <option ng-repeat="m in testData" value="{{m.machine}}">{{m.machine}}</option>
                </select>
              </div>
              <div class="col-sm-6 col-b10">
                <label>机型</label>
                <select ui-jq="chosen" class="w-md s-w100" ng-model="row.model">
                  <option ng-repeat="m in testData" value="{{m.model}}">{{m.model}}</option>
                </select> 
              </div>
              
            </div>
        </div>
      </div>
    </form>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">取 消</button>
    <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">确 定</button>
</div>





