<div class="modal-header">
    <button type="button" class="close" ng-click="method.cancel()"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">{{title}}</h5>
</div>
<form  name="formValidate" class="form-horizontal form-validation" ng-submit="method.submit()">
  <div class="modal-body">
    <div class="panel panel-default panel-b0 ">
      <div class="panel-body">
          <div class="form-group pull-in clearfix">
            <div class="col-sm-12 col-b10">
              <label>产品名称：</label>
              <ui-select ng-model="data.prodName" theme="bootstrap" name="prodName" required/> 
                  <ui-select-match placeholder="选择产品">{{$select.selected.prodName}}</ui-select-match>
                  <ui-select-choices  repeat="item in machineType.list | filter: $select.search">
                    <div ng-bind-html="item.prodName | highlight: $select.search"></div>
                  </ui-select-choices>
              </ui-select>
            </div>
            <div class="col-sm-6 col-b10">
              <label>标准重量/g：</label>
              <input type="text" class="form-control" ng-model="data.stdWeight" required >
            </div>
            <div class="col-sm-6 col-b10">
              <label>成型重量/Kg：</label>
              <input type="text" class="form-control" ng-model="data.mouWeight" required >
            </div>
            <div class="col-sm-6 col-b10">
              <label>每模产出数：</label>
              <input type="text" class="form-control" ng-model="data.countPerMould" required >
            </div>
            <div class="col-sm-6 col-b10">
              <label>模数/天：</label>
              <input type="text" class="form-control" ng-model="data.numPerDay" required >
            </div>
            <div class="col-sm-6 col-b10">
              <label>生产周期/秒：</label>
              <input type="text" class="form-control" ng-model="data.prodCycPerSec" required >
            </div>
            <div class="col-sm-6 col-b10">
              <label>产能/天：</label>
              <input type="text" class="form-control" ng-model="data.capacityPerDay" required >
            </div>
            <div class="col-sm-6 col-b10">
              <label>实际小时生产数：</label>
              <input type="text" class="form-control" ng-model="data.countPerHour" required >
            </div>
            <div class="col-sm-6 col-b10">
              <label>产能/小时：</label>
              <input type="text" class="form-control" ng-model="data.capacityPerHour" required >
            </div>
            <div class="col-sm-12 col-b10">
              <label>产品图纸：</label>
              <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
            </div>
            <div class="col-sm-12 col-b10">
              <label>产品检验标准：</label>
              <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
            </div>
            <div class="col-sm-12 col-b10">
              <label>包装作业指导书：</label>
              <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">                  
      <button class="btn btn-default" ng-click="method.cancel()">取 消</button>
      <button type="submit" class="btn btn-success">确 定</button>
  </div>
</form>





