<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h4">生产实时状态</h1>
</div>

<div class="wrapper" ng-controller="productAdminController">
  <div class="row">
    <div class="col col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
              车间                   
            </div>
            <div class="panel-body">
              <div class="workshop-class">
                <div class="class-list">
                  <h4>成型车间</h4>
                  <p>今日生产情况汇总</p>
                  <ul>
                    <li>
                      <b>50000</b>
                      <span>计划生产</span>
                    </li>
                    <li>
                      <b>27690</b>
                      <span>已完成</span>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <b class="text-success">93%</b>
                      <span>开机率</span>
                    </li>
                    <li>
                      <b class="text-warning">22310</b>
                      <span>未完成</span>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <b class="text-danger">4</b>
                      <span>损耗时间</span>
                    </li>
                    <li>
                      <b class="text-danger">10</b>
                      <span>报废数量</span>
                    </li>
                  </ul>
                </div>
                <div class="class-list">
                  <h4>组装车间</h4>
                  <p>今日生产情况汇总</p>
                  <ul>
                    <li>
                      <b>50000</b>
                      <span>计划生产</span>
                    </li>
                    <li>
                      <b>32160</b>
                      <span>已完成</span>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <b class="text-success">98%</b>
                      <span>开机率</span>
                    </li>
                    <li>
                      <b class="text-warning">17840</b>
                      <span>未完成</span>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <b class="text-danger">4</b>
                      <span>损耗时间</span>
                    </li>
                    <li>
                      <b class="text-danger">10</b>
                      <span>报废数量</span>
                    </li>
                  </ul>
                </div>
                <div class="class-list">
                  <h4>包装车间</h4>
                  <p>今日生产情况汇总</p>
                  <ul>
                    <li>
                      <b>50000</b>
                      <span>计划生产</span>
                    </li>
                    <li>
                      <b>43269</b>
                      <span>已完成</span>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <b class="text-success">93%</b>
                      <span>开机率</span>
                    </li>
                    <li>
                      <b class="text-warning">6731</b>
                      <span>未完成</span>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <b class="text-danger">7</b>
                      <span>损耗时间</span>
                    </li>
                    <li>
                      <b class="text-danger">100</b>
                      <span>报废数量</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              产品                    
            </div>
            <div class="panel-body">
              <div class="chartsm" id="productcharts"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              数量                   
            </div>
            <div class="panel-body">
              <div class="chartsm" id="numbercharts"></div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-4">
        <div class="panel panel-default panel-dark">
            <div class="panel-heading panel-unhead">
              任务                    
            </div>
            <div class="panel-body">
              <div class="chartlg" id="taskcharts"></div>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              时间                    
            </div>
            <div class="panel-body">
              <div class="chartlg" id="timecharts"></div>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              问题                   
            </div>
            <div class="panel-body">
              <div class="chartlg" id="questioncharts"></div>
            </div>
        </div>
    </div>
  </div>
</div>
  